.type {
  img {
    width: 80px;
    @include mobile {
      width: 40px;
    }
  }
}
.ptt {
  img {
    height: 317px;
  }
}
.album {
  img {
    height: 274px;
  }
}
// 跑馬燈
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  letter-spacing: 3.2px;
  width: auto;
}
// 旋轉角度
.-degree-4 {
  transform: translate(-50%, -50%) rotate(-4deg);
}
.degree-2 {
  transform: translate(0, 0) rotate(2deg);
}
.-degree-2 {
  transform: translate(0, 0) rotate(-2deg);
}
